.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
}

.App-header {
  padding: 50px;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  width: 70%;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type='file'] {
  border: 2px solid green;
  background: green;
  border-radius: 20px;
  cursor: pointer;
}

input[type='submit'] {
  border-radius: 20px;
  cursor: pointer;
}